/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family:"Press Start";
    src:url("/fonts/PressStart2P.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Futura Light";
    src:url("/fonts/futura-condensed-light.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Futura Bold";
    src:url("/fonts/futura-condensed-bold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Super Mario 256";
    src:url("/fonts/SuperMario256.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

*{
    margin: 0;
}

body {
    background-color: black;
}

body, html {
    height: 100%;
}

.page-wrap{
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
}

.top-half{
    display: block;
    width: 100%;
    float: left;
    min-height: 100%;
    margin-bottom: -180px;
    background-color: white;
}

.top-half:after{
    content: "";
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}





.main-content-full{
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("../img/homeCallToActionBG.jpg");
    /*height: 100vh; caused page to collapse when page was pushed or on mobile*/
    max-height: 100vh;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.image-bar{
    height: 40vh;
    display: block;
}



header {
    
    background-position: 50% 50%;
    width: 100%;
    padding: 30px 20px 20px; 
    font-family:"Super Mario 256";
    color: white;
}





nav {
    float: right;
    padding: 0 20px 0 0;
    vertical-align: middle;
}

nav ul li {

    text-decoration: none;
    font-size: 3vh;
    list-style-type: none;
    display: inline;
    padding: 0 40px 0 0;
    text-shadow: 2px 4px #000;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ff5c5c;
    text-decoration: none;
}




.call-to-action {
    padding: 20px 30px;    
    color: white;
    text-align: center;
    width: 100%;
}

.call-to-action  h1 {
    font-size: 5vh;
    font-family:"Super Mario 256";
    text-shadow: 2px 4px #000;
}

.call-to-action  h2 {
    font-size: 4vh;
    font-family:"Futura Bold";
    text-shadow: 2px 4px #000;
}

.call-to-action h2 a {
    color: white;
    text-decoration: none;
}

.call-to-action h2 a:hover {
    color: #ff5c5c;
    text-decoration: none;
}

.call-to-action .transbox h1 {
    font-size: 4vh;
    font-family:"Super Mario 256";
    color: #A0BF7C;
}

.call-to-action .transbox h2 {
    font-size: 3.5vh;
    font-family:"Futura Bold";
    margin-top: -20px;
    margin-bottom: 20px;
    text-shadow: 4px 4px #000;
}

.call-to-action .transbox a{
    color: yellow;
}


.call-to-action .transbox {
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border: 1px solid white;
    margin: 20px 0;
}





.main-content{
    height: auto;
    padding: 30px 0 0 0;
}

.main-content h2{
    font-family:"Super Mario 256";
    font-size: 3.5vh;
}

.main-content p{
    font-size: 2vh;
}

.main-content article{
    padding: 30px;
}





/*
 * Charity div on homepage
 */

.charity-info {
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;    
    padding: 60px 50px;
    display: block;
    
}

.charity-info img{   
    width: 50%;
    height: 50%;
}

.charity-info a{
    color: orange;
}

.charity-info p{
    font-size: 2.5vh;
}

#charity-link{
    text-align: center;
}
.charity-info h2{
    font-size: 4vh;
    text-align: center;
}

#charity-image{
    background: url("/img/DirectRelief/Photos/16.jpg");
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 -50px; 

}


/*
 * Prizes div on homepage
 */

 .prizes h2 {
    font-family: "Super Mario 256";
}

.prizes {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/PrizeBG.jpg");    
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 30px 50px;
    display: block;
    width: 100%;
    height: auto;
    color: white;
}

.prizes img {
    max-height: 200px;
}

.prizes .prize-thumbs{
    padding-top: 20px;
}

.prizes ul li{    
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}


/*
 * Sponsors div on homepage
 */

.sponsors {
    width: 100%;
    height: auto;
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url("/img/sponsorbackground.jpg");
    background-position: 90% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    color: lightblue;
    font-family:"Super Mario 256";
    text-align: center;
    padding: 30px 50px;
    display: block;
}

.sponsors ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}




/*
 * Donation page 
 */

.donation-form{
    padding: 40px 0;
}

#incentive-grand-total{
    font-size: 50px;
    margin-top: 13px;
    font-family: "Super Mario 256";
}

#incentive-grand-total-goal{
    margin-top: -30px;
}




/*
 * Music
 */
.music-thumbs{
    padding-top: 20px;
}

.music-thumbs li{    
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}



/*
 * Video Pages
 */

.video-page-selection{
    width: 100%;
    display: block;
    text-align: center;
    font-family:"Super Mario 256";
}





/*
 * About page 
 */
article p{
    margin-bottom: 20px;
}



/*
 * Footer
 */

footer{
    width: 100%;
    background-color: #282828;
    color: gray;
    padding: 20px 0;    
    bottom:0;
    text-align: center;
    float: left;
}

footer, .top-half:after{
    height: 180px;
}

footer a{
    color: #fbcf0f;
}

footer ul{
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center
}

footer ul li{
    margin: 10px 60px -15px 0px;
    float: left;
}

footer #footer-logo{
    padding-right: 40px;
    border-right: 1px solid gray;
}

footer #footer-icon{
    padding-top: 15px;
}

footer p{
    padding-top: 30px;
}


/* 
 * The side navigation menu 
 */
.sidenav {
    font-family:"Super Mario 256";
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #ff5c5c;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
