body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  max-width: 100%;
}

.dashboard-donation-total h1{
    font-weight: 30pt;
    font-size: 60px;
    margin: -10px 0 0 0;
}

.donationMessage{
  word-wrap: break-word;

}